body {
    background-color: #0f172a;
    color: white;
}

textarea, select {
    background-color: #1e293b !important;
    color: white !important;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    font-weight: 600;
}
